@charset "UTF-8";
.not-display {
  display: none; }

.inline-block {
  display: inline-block;
  vertical-align: top; }

.cursor-pointer {
  cursor: pointer; }

.marg-center {
  margin: 0px auto; }

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 0px;
  font-family: Arial, Verdana sans-serif; }

html,
body {
  height: 100%;
  background-color: #D8D8D8; }

.container {
  position: relative;
  min-height: 100%;
  background-color: #d8d8d8; }

.pos-relative {
  position: relative; }

.main {
  padding-bottom: 20px; }

/* ╨и╨╕╤А╨╕╨╜╨░ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨┐╤А╨╕ width >= 970px */
/* ╨и╨╕╤А╨╕╨╜╨░ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨┐╤А╨╕ width >= 750px */
/* ╨и╨╕╤А╨╕╨╜╨░ ╨║╨╛╨╗╨╛╨╜╨║╨╕ ╨┐╤А╨╕ width < 750px */
/* ╨Т╨╡╨╗╨╕╤З╨╕╨╜╨░ padding ╤Б ╨╛╨┤╨╜╨╛╨╣ ╤Б╤В╨╛╤А╨╛╨╜╤Л ╨║╨╛╨╗╨╛╨╜╨║╨╕ */
/* ╨г╤Б╤В╨░╨╜╨╛╨▓╨║╨░ ╨▓╨╡╨╗╨╕╤З╨╕╨╜╤Л padding ╨║╨╛╨╗╨╛╨╜╨║╨╕ */
/* ╨Ь╨╕╨╜╨╕╨╝╨░╨╗╤М╨╜╨░╤П ╤И╨╕╤А╨╕╨╜╨░ ╨▒╨╗╨╛╨║╨░ ╨┤╨╗╤П ╨╜╨░╤Б╤В╨╛╨╗╤М╨╜╤Л╤Е ╨┐╨║ */
/* ╨Ь╨╕╨╜╨╕╨╝╨░╨╗╤М╨╜╨░╤П ╤И╨╕╤А╨╕╨╜╨░ ╨▒╨╗╨╛╨║╨░ ╨┤╨╗╤П ╨┐╨╗╨░╨╜╤И╨╡╤В╨░ */
/* ╨Ь╨╕╨╜╨╕╨╝╨░╨╗╤М╨╜╨░╤П ╤И╨╕╤А╨╕╨╜╨░ ╨▒╨╗╨╛╨║╨░ ╨┤╨╗╤П ╨┐╨╗╨░╨╜╤И╨╡╤В╨░ */
/* ╨а╨░╨╖╨╝╨╡╤А ╤Б╤В╤А╨╛╨║╨╕ ╨╕╤Б╤Е╨╛╨┤╤П ╨╕╨╖ ╤В╨╡╨║╤Г╤Й╨╡╨│╨╛ ╤А╨░╨╖╨╝╨╡╤А╨░ ╨╛╨║╨╜╨░ ╨▒╤А╨░╤Г╨╖╨╡╤А╨░ */
@media screen and (min-width: 990px) {
  .row {
    width: 970px; } }
@media screen and (max-width: 990px) and (min-width: 760px) {
  .row {
    width: 750px; } }
@media screen and (max-width: 760px) {
  .row {
    width: 480px; } }

.col-md-1 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 990px) {
    .col-md-1 {
      width: 50.5px; } }

.col-md-2 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 990px) {
    .col-md-2 {
      width: 131px; } }

.col-md-3 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 990px) {
    .col-md-3 {
      width: 211.5px; } }

.col-md-4 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 990px) {
    .col-md-4 {
      width: 292px; } }

.col-md-5 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 990px) {
    .col-md-5 {
      width: 372.5px; } }

.col-md-6 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 990px) {
    .col-md-6 {
      width: 453px; } }

.col-md-7 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 990px) {
    .col-md-7 {
      width: 533.5px; } }

.col-md-8 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 990px) {
    .col-md-8 {
      width: 614px; } }

.col-md-9 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 990px) {
    .col-md-9 {
      width: 694.5px; } }

.col-md-10 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 990px) {
    .col-md-10 {
      width: 775px; } }

.col-md-11 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 990px) {
    .col-md-11 {
      width: 855.5px; } }

.col-md-12 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 990px) {
    .col-md-12 {
      width: 936px; } }

.col-sm-1 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 990px) and (min-width: 760px) {
    .col-sm-1 {
      width: 32px; } }

.col-sm-2 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 990px) and (min-width: 760px) {
    .col-sm-2 {
      width: 94px; } }

.col-sm-3 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 990px) and (min-width: 760px) {
    .col-sm-3 {
      width: 156px; } }

.col-sm-4 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 990px) and (min-width: 760px) {
    .col-sm-4 {
      width: 218px; } }

.col-sm-5 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 990px) and (min-width: 760px) {
    .col-sm-5 {
      width: 280px; } }

.col-sm-6 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 990px) and (min-width: 760px) {
    .col-sm-6 {
      width: 342px; } }

.col-sm-7 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 990px) and (min-width: 760px) {
    .col-sm-7 {
      width: 404px; } }

.col-sm-8 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 990px) and (min-width: 760px) {
    .col-sm-8 {
      width: 466px; } }

.col-sm-9 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 990px) and (min-width: 760px) {
    .col-sm-9 {
      width: 528px; } }

.col-sm-10 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 990px) and (min-width: 760px) {
    .col-sm-10 {
      width: 590px; } }

.col-sm-11 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 990px) and (min-width: 760px) {
    .col-sm-11 {
      width: 652px; } }

.col-sm-12 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 990px) and (min-width: 760px) {
    .col-sm-12 {
      width: 714px; } }

.col-xl-1 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 760px) {
    .col-xl-1 {
      width: 50px; } }

.col-xl-2 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 760px) {
    .col-xl-2 {
      width: 130px; } }

.col-xl-3 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 760px) {
    .col-xl-3 {
      width: 210px; } }

.col-xl-4 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 760px) {
    .col-xl-4 {
      width: 290px; } }

.col-xl-5 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 760px) {
    .col-xl-5 {
      width: 370px; } }

.col-xl-6 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 760px) {
    .col-xl-6 {
      width: 450px; } }

.col-xl-7 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 760px) {
    .col-xl-7 {
      width: 530px; } }

.col-xl-8 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 760px) {
    .col-xl-8 {
      width: 610px; } }

.col-xl-9 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 760px) {
    .col-xl-9 {
      width: 690px; } }

.col-xl-10 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 760px) {
    .col-xl-10 {
      width: 770px; } }

.col-xl-11 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 760px) {
    .col-xl-11 {
      width: 850px; } }

.col-xl-12 {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 760px) {
    .col-xl-12 {
      width: 930px; } }

.header {
  background-color: #eeeeee; }

.header-height {
  height: 50px; }
  @media screen and (max-width: 760px) {
    .header-height {
      height: 80px; } }

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #999999;
  text-decoration: none; }

.main-menu-button {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #c5c5c5;
  color: #c5c5c5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  top: 20px;
  right: 20px; }
  @media screen and (max-width: 760px) {
    .main-menu-button {
      display: inherit !important; } }

.main-menu {
  margin-top: 19px; }
  @media screen and (max-width: 760px) {
    .main-menu {
      margin-top: 70px;
      display: none; } }

.element-main-menu {
  display: inline;
  margin-right: 30px; }

.menu-text {
  font-size: 16px;
  color: #0088cc;
  text-decoration: none; }

.h1-title {
  margin: 27px 0px 0px 0px;
  font-size: 18px; }

.folder {
  float: right;
  margin-top: 20px; }
  .folder:hover {
    background-image: url(/images/folder-active.png); }

.news-title {
  font-size: 14px;
  line-height: 21px;
  margin-top: 17px;
  margin-bottom: 11px; }

.news-date {
  font-size: 12px;
  color: #999999;
  margin-top: 17px;
  margin-bottom: 17px; }

.bord-bottom {
  border-bottom: 1px solid #999999; }

.news-description {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px; }

.all-news-text {
  font-size: 14px;
  color: #0088cc;
  margin-bottom: 15px; }

.external-url {
  font-size: 14px;
  color: #999999; }

.bucket {
  float: right;
  margin-top: 20px; }
  .bucket:hover {
    background-image: url(/images/bucket-hover.png); }

.no-data {
  font-size: 21px;
  color: #9c9c9c;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.checkbox-news {
  margin-top: 21px; }

.footer {
  position: absolute;
  left: 0;
  bottom: -45px;
  height: 45px;
  width: 100%;
  background-color: #eeeeee; }

.copyright {
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #898989; }

/*# sourceMappingURL=style.css.map */