$div-service-message-width-970: 500px;

.div-service-message {
	position: absolute;
	width: $div-service-message-width-970;
	background-color: rgb(119, 207, 119);
	top: 60px;
	left: 50%;
	margin-left: -250px;
	padding: 20px 10px 20px 10px;
	display: none;
}

.p-service-message {
	font-size: 14px;
	text-align: center;
}